parameters:
	ignoreErrors:
		-
			message: '#^Casting to int something that''s already int\.$#'
			identifier: cast.useless
			count: 3
			path: Classes/Middleware/EditInformationMiddleware.php

		-
			message: '#^Only booleans are allowed in &&, mixed given on the right side\.$#'
			identifier: booleanAnd.rightNotBoolean
			count: 1
			path: Classes/Middleware/ToolRendererMiddleware.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: Classes/Service/MenuGenerator.php

		-
			message: '#^Only booleans are allowed in &&, \(int\|string\) given on the right side\.$#'
			identifier: booleanAnd.rightNotBoolean
			count: 2
			path: Classes/Service/MenuGenerator.php

		-
			message: '#^Only booleans are allowed in &&, array\|null given on the left side\.$#'
			identifier: booleanAnd.leftNotBoolean
			count: 1
			path: Classes/Service/MenuGenerator.php

		-
			message: '#^Only booleans are allowed in a ternary operator condition, string\|null given\.$#'
			identifier: ternary.condNotBoolean
			count: 1
			path: Classes/Service/MenuGenerator.php

		-
			message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
			identifier: ternary.shortNotAllowed
			count: 2
			path: Classes/Service/MenuGenerator.php

		-
			message: '#^Call to an undefined method TYPO3\\CMS\\Frontend\\Controller\\TypoScriptFrontendController\:\:getFromCache\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Classes/Service/SettingsService.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: Classes/Service/SettingsService.php

		-
			message: '#^Casting to int something that''s already int\.$#'
			identifier: cast.useless
			count: 1
			path: Classes/Utility/ContentUtility.php

		-
			message: '#^Only booleans are allowed in &&, mixed given on the right side\.$#'
			identifier: booleanAnd.rightNotBoolean
			count: 1
			path: Classes/Utility/UrlUtility.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: Classes/ViewHelpers/DataViewHelper.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: Classes/ViewHelpers/DataViewHelper.php

		-
			message: '#^Out of 57 possible return types, only 56 \- 98\.2 %% actually have it\. Add more return types to get over 100 %%$#'
			identifier: typeCoverage.returnTypeCoverage
			count: 1
			path: Classes/ViewHelpers/DataViewHelper.php
