<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:asset.script identifier="frontend-edit" type="text/javascript"
                src="EXT:xima_typo3_frontend_edit/Resources/Public/JavaScript/frontend_edit.js"
                data="{base-url: baseUrl, frontend-edit-action: '{f:uri.action(action: \'contentElements\', controller: \'Edit\', pluginName: \'FrontendEdit\', extensionName: \'XimaTypo3FrontendEdit\', pageType: \'1723195241\')}'}"/>
